
<h1 style="position:relative ;left: 40%;"> Registration Form</h1>
<form style="position:relative ;left: 40%;" [formGroup]="registerForm"  (ngSubmit)="Register()">

Username: <br>
<input type="username" placeholder="Enter User Name" formControlName="Username"/>
<br><br>
E-Mail: <br>
<input type="email" placeholder="Enter E-mail" formControlName="Email"/>
<br><br>
Password: <br>
<input type="password" placeholder="Enter password" formControlName="Password"/>
<br><br>
Confirm Password: <br>
<input type="password" placeholder="Enter Confirm Password" formControlName="ConfirmPassword"/>
<br><br>
<button >Submit</button>
</form>
